body {
  margin: 0;
  background-color: #dedede77;
}

/* Header - Navigation Bar Items */

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(225, 244, 18);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 5rem;
}

.header > ul {
  display: flex;
  list-style: none;
  margin-left: 3%;
  margin-right: 3%;
  font-size: large;
  font-weight: bold;
}

.header > ul > li {
  margin: 5px;
  margin-left: 0.4rem;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

body>p{
  text-align: center;
}

.header > ul > li > a {
  text-decoration: none;
  color: #304388;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.phone p {
  color: black;
}

.phone-logo {
  width: 27px;
  height: 32px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/455/455705.png");
  background-size: contain;
}

.phone:hover p {
  color: yellow;
}

.phone:hover .phone-logo {
  background-image: url("https://www.pngitem.com/pimgs/m/536-5366226_yellow-phone-icon-png-transparent-png.png");
  background-size: cover;
  border-radius: 50%;
}

.phone > a {
  text-decoration: none;
  margin-left: 0.5rem;
  text-align: center;
}

.person_info {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffd900 0%, #ffc000 100%);
  border-radius: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.person_info > a {
  text-decoration: none;
  margin-left: 0.3rem;
  color: black;
}

.payment {
  display: flex;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(180deg, #28a745 0%, #28a745 100%);
  border-radius: 30px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.payment > a {
  align-self: center;
  text-decoration: none;
  height: fit-content;
  color: white;
}

.payment:hover p {
  color: black;
}

.payment > a > p {
  margin: 0;
}

div > div {
  display: flex;
  margin: 15px;
}

div > div > a {
  text-decoration: none;
  padding-left: 5px;
  color: black;
}

.language {
  margin: 0;
  display: flex;
  align-items: center;
}


div > a > .logo {
  vertical-align: middle;
  border-style: none;
  padding-left: 4rem;
}

div.body {
  padding-top: 142px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  background: url(../Images/boy_logo.png) no-repeat;
  background-position-y: 30%;
  background-position-x: 89%;
  background-size: 39%;
  min-height: 560px;
}

/* Body - Left Side items */

.left-item {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

.left-item h2 {
  line-height: 50px;
  font-size: 36px;
  color: black;
  font-weight: 100;
}

.left-item h2 span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.left-item p {
  font-size: 17px;
  width: 62%;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
}

.left-item {
  align-items: center;
  display: block;
  width: 38%;
}

.container {
  position: absolute;
  left: 8%;
  top: 30%;
  margin-left: -15px;
}

/* Body - Right Side items */

.right-item {
  height: fit-content;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  transform: translateX(55%) translateY(450%);
}

.right-item > div {
  background-image: url("../Images/play_1.png");
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ffc301;
  border: 1px solid #ffc301;
  transition: ease-in-out 0.3s;
}

.right-item > p {
  font-size: 18px;
  max-width: 320px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.right-item > div:hover {
  background-image: url("../Images/play_2.png");
  background-color: white;
  border: 3px solid #ffc301;
}

/* Body - Click Button */

.submit_btn {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  letter-spacing: 0.06rem;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  margin: 0;
  border-radius: 22px;
  display: inline-flex;
  background: linear-gradient(180deg, #00a3ff 0%, #0057ff 100%);
  padding: 12px 60px;
}

.submit_btn > a {
  color: #f7f0f0;
  max-width: 150px;
  font-size: 16px;
  text-decoration: none;
}

/* Footer items */

.footer {
  background-color: #188fd4;
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
}

.links {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
}

.list-of-links {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
}
.links > p {
  margin: 0;
  padding-top: 3%;
  font-size: 28px;
  color: white;
  font-weight: bold;
}

.list-of-links > li > a > img {
  width: 25px;
  height: 35px;
}

.list-of-links > li {
  padding: 3px;
}

.footer > img {
  padding-left: 8%;
}

.list-of-reasons {
  padding-left: 8%;
  color: white;
  list-style: none;
}

.list-of-reasons > p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.list-of-reasons > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.list-of-reasons > li {
  padding-top: 3px;
}

.contact {
  margin: 0;
  list-style: none;
  color: white;
  font-weight: bold;
  padding-left: 8%;
}

.contact > p {
  margin: 0;
  padding-top: 12%;
  font-size: 30px;
}

.contact > li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}
